<nav th:fragment="navbarFrag" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="navbar">
        <a href="/" class="logo">SFBRA</a>
        <div class="links">
            <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/member/login}">로그인</a>
            <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/member/logout}">로그아웃</a>
            <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/member/register}">회원가입</a>
        </div>
    </div>
</nav>